<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="SC.Ninject" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.ContentSearch" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.ContentSearch.Linq" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.Kernel" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.Social" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Configuration" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Domain" version="8.2.2" targetFramework="net452" />
  <package id="SC.Sitecore.Social.Infrastructure" version="8.2.2" targetFramework="net452" />
</packages>